.tile {
  /*with is approx. 100 / 7 to make this a 7 x 6 grid*/
  width: 13%;
  height: 120px;
  font-size: 60px;
  background: white;
  border: 8px solid #e6e600;
  display: inline-block;
  float: left;
  text-align: center;
  /* line-height: 100px; */
  /* border-radius: 5px; */

  /* this part is for aligning the circles*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.text, .reset {
  text-align: center;
}

.reset {
  margin-bottom: 7px;
}

/*centers the board somehow*/
.container {
  width: 1400px;
  margin: 0 auto;
}
